# You must accept the Minecraft EULA (https://aka.ms/MinecraftEULA) to run a server.
EULA=TRUE

# Server settings
MC_VERSION=LATEST
MC_MEMORY=2G
MC_MOTD=A strut-managed Minecraft server
MC_DIFFICULTY=normal
