DOMAIN=example.com
ACME_EMAIL=admin@example.com

POSTGRES_PASSWORD=change-me
DATABASE_URL=postgresql://STACK_NAME_PLACEHOLDER:change-me@postgres:5432/STACK_NAME_PLACEHOLDER

# Generate with: openssl rand -hex 32
NEXTAUTH_SECRET=change-me
